.rampTextAreaContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.rampTextArea {
  height: 100vh;
  width: 100%;
  font-size: 24px;
  outline: 0;
  border: 0;
  font-family: 'Oxygen', 'sans-serif';
  margin-top: 20px;
  padding: 20px;
}

.rampAppBar {
  background-color: #303030 !important;
}
